<h1 style="font-size: 60px;padding:10px;">{{title}}</h1>
<hr>
<div class="nav">
    <a href="/">weather<span class="line_span"></span></a>
    <a href="/about">about<span class="line_span"></span></a>
    <a href="/weather">api<span class="line_span"></span></a>
</div>