<html>
    <head>
        <title>Weather Application</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <center>
        <div class="holder">
        {{>header}}</h1>
        </div>
        </center>
        {{>footer}}
    </body>
</html>