<html>
    <head>
        <title>Weather Application</title>
        <link rel="stylesheet" href="css/style.css">
        
    </head>
    <body>
        <center>
        <div class="holder">
            {{>header}}
        </div>
        <div class="sec_holder" style="margin-top:30px;">
        <form>
            <fieldset>
                <legend>Search Weather</legend>
                <input type="text" id="loc" name="loc" placeholder="location">
            <button onclick="run()" type="button">Submit</button>   
            </fieldset>
            
        </form>
        </div>
        <div class="sec_holder">
            {{Error}}<br>
            <div id="result">
                <div id="result1"></div>
            <a onclick="close_note()"><div id="result2">&times;</div></a>
            </div>
        </div>
        </center>
        {{>footer}}
    </body>
</html>
<script src="js/jquery.js"></script>
<script src="js/app.js"></script>