<html>
    <head>
        <title>Weather Application</title>
        <link rel="stylesheet" href="css/style.css">
        <link rel="icon" type="image/icon" href="logo.png">
    </head>
    <body>
        <center>
        <div class="holder">
        {{>header}}</h1>
        </div>
        </center>
        {{>footer}}
    </body>
</html>